@@ -1,17 +1,40 @@
 # Since the ".env" file is gitignored, you can use the ".env.example" file to
 # build a new ".env" file when you clone the repo. Keep this file up-to-date
 # when you add new variables to `.env`.
 
 # This file will be committed to version control, so make sure not to have any
 # secrets in it. If you are cloning this repo, create a copy of this file named
 # ".env" and populate it with your secrets.
 
 # When adding additional environment variables, the schema in "/src/env.js"
 # should be updated accordingly.
 
 # Drizzle
 DATABASE_URL="postgresql://postgres:password@localhost:5432/t4gallery"



 # When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# Recommended for most uses


# DATABASE_URL=postgres://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# # For uses requiring a connection without pgbouncer
# DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# # Parameters for constructing your own connection string
# PGHOST=ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech
# PGHOST_UNPOOLED=ep-winter-bird-a1nlpjav.ap-southeast-1.aws.neon.tech
# PGUSER=neondb_owner
# PGDATABASE=neondb
# PGPASSWORD=npg_xH9Ip6XnGuER

# # Parameters for Vercel Postgres Templates
# POSTGRES_URL=postgres://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
# POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
# POSTGRES_USER=neondb_owner
# POSTGRES_HOST=ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech
# POSTGRES_PASSWORD=npg_xH9Ip6XnGuER
# POSTGRES_DATABASE=neondb
# POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech/neondb
# POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_xH9Ip6XnGuER@ep-winter-bird-a1nlpjav-pooler.ap-southeast-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15&sslmode=require
# # Example:
# # SERVERVAR="foo"
# # NEXT_PUBLIC_CLIENTVAR="bar"

# # parameters for clerk
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG9nZXRoZXItZ2lyYWZmZS03MS5jbGVyay5hY2NvdW50cy5kZXYk
# CLERK_SECRET_KEY=sk_test_Ly8A4X0HybQjyeC9vZsc8LSFcibfNDpe8UEf0iHkrV

# # parameters of uploadthiing

# UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlX2M5MDI3NmY5YmViMWM1MTY3M2RiNWJhYzM0ZjA0MmZhZDIyY2JhNTAxOGM4OTMyNDM4YTA3YzRhYWZlNDdjNjYiLCJhcHBJZCI6InU0b2N2emFpNmYiLCJyZWdpb25zIjpbInNlYTEiXX0=

# # sentry api
# SENTRY_AUTH_TOKEN=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
